/* 1rem = 10px. See global.css */
.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4rem 0;
}

.ringContainer {
  width: 50rem;
  height: 50rem;
  position: relative;
  margin-bottom: 3rem;
}

.ringContainer:hover .ring,
.ringContainer:hover .repoInfo {
  animation-play-state: paused;
}

.avatar {
  border-radius: 50%;
  padding: 5rem !important;
}

.ring {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0.6rem dashed #e3e3e3;
  border-radius: 50%;
  animation: anticlockwise 100s linear infinite;
  z-index: 2;
}

.repo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.repo:nth-child(1) {
  background-color: #171736;
  left: calc(50% - 3rem);
  top: -3rem;
}

.repo:nth-child(2) {
  background-color: #984553;
  left: calc(50% - 3rem);
  bottom: -3rem;
}

.repo:nth-child(3) {
  background-color: #035e5e;
  top: calc(50% - 3rem);
  left: -3rem;
}

.repo:nth-child(4) {
  background-color: #5d4f05;
  top: calc(50% - 3rem);
  right: -3rem;
}

.repoInfo {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: clockwise 100s linear infinite;
}

.starCount {
  position: absolute;
  font-size: 1.6rem;
}

.star {
  font-size: 1.2rem;
  position: absolute;
  bottom: 0.4rem;
}

.username {
  font-size: 4rem;
}

.name {
  font-size: 6rem;
  margin-bottom: 0.6rem;
}

.bio {
  font-size: 2rem;
  color: #a0a0a0;
  max-width: 70%;
}

.meta {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 6rem;
  margin-top: 2rem;
  background-color: #2a163e;
  color: #e3e3e3;
  padding: 2rem 0;
}

.content h5,
.content p {
  text-transform: uppercase;
  font-size: 4.4rem;
}

@keyframes anticlockwise {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes clockwise {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .content h5,
  .content p {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 425px) {
  .ringContainer {
    width: 30rem;
    height: 30rem;
    padding: 2rem;
  }

  .ring {
    border-width: 0.2rem;
  }

  .avatar {
    padding: 5.5rem !important;
  }

  .repo {
    width: 5rem;
    height: 5rem;
  }

  .repo:nth-child(1) {
    left: calc(50% - 2.5rem);
    top: -2.5rem;
  }

  .repo:nth-child(2) {
    left: calc(50% - 2.5rem);
    bottom: -2.5rem;
  }

  .repo:nth-child(3) {
    top: calc(50% - 2.5rem);
    left: -2.5rem;
  }

  .repo:nth-child(4) {
    top: calc(50% - 2.5rem);
    right: -2.5rem;
  }

  .starCount {
    font-size: 1.4rem;
  }

  .star {
    font-size: 1rem;
    position: absolute;
    bottom: 0.4rem;
  }

  .username {
    font-size: 2.4rem;
  }

  .name {
    font-size: 3.6rem;
    margin-bottom: 0.6rem;
  }

  .bio {
    font-size: 1.4rem;
    width: 100%;
  }

  .meta {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem;
  }

  .content h5,
  .content p {
    font-size: 2.4rem;
  }
}
