html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
  font-size: 10px; /* 1rem = 10px */
  padding-bottom: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  width: 60%;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 1.6rem 2.2rem;
  font-size: 2.6rem;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  form {
    width: 80%;
    margin: 0 auto;
  }

  input {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 425px) {
  form {
    width: 90%;
    margin: 0 auto;
  }

  input {
    font-size: 1.8rem;
  }
}
